@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

body {
	font-family: 'Lato', sans-serif;
}

main {
	background: url("../images/tomb.jpg") no-repeat center center scroll;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

h1,h2,h3,h4,h5 {
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 300;
	text-align: center;
}

h2 {
	text-transform: uppercase;
}

nav a {
	color: #a7d1c7;
}

nav a:hover {
	background: rgba(133, 34, 193, 0.6);

}

li {
	list-style-type: none;
}

footer h3 {
	text-align: left;
}

.top-bar,.top-bar ul,.top-bar li {
	background-color: white;
}

.title-bar {
	background-color: white;
	color: black;
}


.menu-icon {
	color: black;
}

.main-background {
	background: rgba(255, 255, 255, 0.7);
	/*color: white;*/
	padding: 5rem 0;
}

.hero-text {
	padding-bottom: 2rem; 
}

.button.hollow {
	border: 1px solid black;
	color: black;
	text-transform: uppercase;
}


/* COLORS
	light green: rgb(167, 209, 199); #a7d1c7;
	purple: rgb(133, 34, 193); #8522c1;
	*/


/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up */
@media screen and (min-width: 40em) {
	h2 {
    	font-size: 2rem;
	}

	main p {
		font-size: 1.25rem;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}