@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

body {
	font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
}

main {
	background: url("../images/tomb.jpg") no-repeat center center scroll;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

h1,h2,h3,h4,h5 {
	font-family: futura-pt, "Helvetica Neue", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 300;
}

h2 {
	text-transform: uppercase;
}

nav a {
	color: #a7d1c7;
}

nav a:hover {
	background: #a7d1c7;
	color: black;
}

li {
	list-style-type: none;
}

footer h3 {
	text-align: left;
}

.top-bar,.top-bar ul,.top-bar li {
	background-color: white;
	text-align: center;
}

.title-bar {
	background-color: white;
	color: black;
}


.menu-icon {
	color: black;
}

.main-background {
	background: rgba(255, 255, 255, 0.9);
}

.hero-sub-text ul {
	margin: 0 auto;
	padding-bottom: 1rem;
}

.card {
	background: transparent;
  	border: none;
}

.card-divider {
  	background: transparent;
}

.button {
	border: 1px solid black;
	color: white;
	background-color: black;
	text-transform: uppercase;
}

.button:hover {
	color: black;
	background-color: transparent;
}

.button.hollow {
	border: 1px solid black;
	color: black;
	text-transform: uppercase;
}

#thursday {
	background-color: #AEE8CA;
	/*color: white;*/
}


/* COLORS
	light green: rgb(167, 209, 199); #a7d1c7;
	purple: rgb(133, 34, 193); #8522c1;
	*/


/* Small only */
@media screen and (max-width: 39.9375em) {
	h1 {
		font-size: 2rem;
	}

	.small-caps {
		font-variant: small-caps;
		text-align: center;
	}

	.main-background {
		padding: 2rem 0;
	}

	.hero-text {
		padding-bottom: .5rem; 
	}

	#thursday {
		padding: 4rem 0;
	}

	#thursday h2 {
		padding-bottom: 1rem;
	}

}

/* Medium and up */
@media screen and (min-width: 40em) {
	h2 {
    	font-size: 2rem;
	}

	footer {
		padding: 5rem 0;
	}

	.main-background {
		padding: 5rem 0;
	}

	.hero-text {
		padding-bottom: 2rem; 
	}

	.hero-text p {
		font-size: 1.25rem;
	}

	#thursday {
		padding: 8rem 0;
	}

	#friday {
		padding: 5rem 0;
	}

	#saturday {
		padding: 5rem 0;
	}

	#sunday {
		padding: 5rem 0;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}