




$menu-background: #333;

.menu {
  background: $menu-background;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;
  
  ul {
    background: $menu-background;
  
    li {
      background: $menu-background;
    
        a {
          color: #fff;
      }
    }
  }
}

.menu-text {
  color: #fff;
  
  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #4e4e4e;
    }
  }
}

.dropdown.menu .submenu {
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}

// mega menu

.js-dropdown-active {
  max-width: 100% !important;
  width: 100% !important;
  left: 0 !important;
  display: block;
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}